
/*Find a font from https://fonts.google.com/
and substitute the name into the @import line.

If there is a space in the font name, link the words with "+"
For example, type "family=Open+Sans" for the font "Open Sans".

You can also use web-safe fonts without having to import them:
https://www.w3schools.com/cssref/css_websafe_fonts.asp 

Hint: Browse https://fonts.google.com/?category=Display for some really despicable ones...

*/

/*We encourage you to look up more CSS rules you can apply to each item!*/

@import url('https://fonts.googleapis.com/css?family=Nabla&display=swap'); 
@import url('https://fonts.googleapis.com/css?family=Bungee+Spice&display=swap'); 
@import url('https://fonts.googleapis.com/css?family=Ewert&display=swap'); 


body {
  background-color: chartreuse; /*Try changing either of these colours out for a hex code.*/
  color: white;
}


/*Changing these rules will affect the appearance of your page's title.*/
.heading{
    /*Try using the font(s) you imported into here*/
    /*Use a default font like "sans-serif" to fall back on in case the import doesn't work*/
    font-family: "Nabla", sans-serif;
    text-align: center;
}

/*Changing these rules will affect the appearance of the big "main" image*/
.big-pic{
  display: block;
  margin: auto;
  max-width: 900px;
}

footer{
  font-family: "Comic Sans MS";
  color:#FFFFFF;
  padding: 5% 0 2% 0;
  text-align: center;
}



/*These rules will style partner 1's bio...*/

.p1{
  margin: auto; /*Try commenting this out...*/
  width: 70%; /*Try changing this value...*/
}

.p1-heading{
  font-family: "Bungee Spice";
  text-align: right;
}

.p1-bio > li{
    /*Change this to affect partner 1's bio list*/
    font-family: "Comic Sans MS", sans-serif;
    text-shadow: 2px 2px rgb(187, 30, 30); /*Adds a shadow to the text–try changing the colour*/
    text-align: center; /*Try changing this to left or right...*/
    color: #FFFFFF; /*Try changing this out for a different hex code.*/
}





/*These rules will style partner 2's bio...*/

.p2{
  margin: auto; /*Try commenting this out...*/
  width: 70%; /*Try changing this value...*/
}

.p2-heading{
  font-family: "Ewert";
}

.p2-bio > li{
  /*Change this to affect partner 2's bio list*/
  font-family: "Comic Sans MS", sans-serif;
  text-shadow: 2px 2px rgb(23, 1, 218); /*Adds a shadow to the text–try changing the colour*/
  text-align: center; /*Try changing this to left or right...*/
  margin: auto;
  color: #FFFFFF; /*Try changing this out for a different hex code.*/
}